[Global]
        Name = ${IRCD_NAME}
        Info = ${IRCD_INFO}
        Listen = 0.0.0.0
        MotdPhrase = ${IRCD_MOTD}
        Network = ${IRCD_NETWORK}
        Ports = ${IRCD_PORTS}
        ServerGID = nobody
        ServerUID = nobody
[Limits]
        MaxListSize = 100
        PingTimeout = 120
[Options]
        # ChrootDir = /var/empty
        DNS = yes
        PAM = no
[SSL]
        #DHFile = /certs/dhparams.pem
        ${IRCD_SSL_CONFIG}

[Server]
        SSLVerify = no
        SSLConnect = yes
        ${IRCD_LINK_CONFIG}
